div[board] {
  width: 98vmin;
  height: 98vmin;
  display: flex;
  flex-direction: column;
}

div[board] [row] {
  display: flex;
  flex-grow: 1;
}

div[board] [row]:nth-of-type(2) {
  border-top: 1px solid black;
}

div[board][show-gridlines] [row] {
  border-top: 1px solid black;
}

div[board] [row]:last-of-type {
  border-bottom: 1px solid black;
}

div[board] [row] [cell] {
  flex-grow: 1;
  cursor: pointer;
}

div[board][simulating] [row] [cell] {
  cursor: wait;
}

div[board]:not([simulating]) [row] [cell]:not([alive]):hover {
  background-color: rgb(114, 192, 44);
}

div[board]:not([simulating]) [row] [cell][alive]:hover {
  background-color: rgb(211, 72, 54);
}

div[board] [row] [cell]:first-of-type {
  border-left: 1px solid black;
}

div[board][show-gridlines] [row] [cell] {
  border-left: 1px solid black;
}

div[board] [row] [cell]:last-of-type {
  border-right: 1px solid black;
}

div[board] [row] [cell][alive] {
  background-color: black;
}
