@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

[action-bar] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

[action-bar] > div {
  margin-right: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[action-bar] > div:last-of-type {
  margin-right: 0;
}

[button] {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

[button]:hover {
  background-color: rgb(211, 72, 54);
  color: white;
}

[button][active] {
  background-color: rgb(211, 72, 54);
  color: white;
}
