body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

[action-bar] {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

[action-bar] [button] {
  padding: 10px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[action-bar] [button]:last-of-type {
  margin-right: 0;
}
